* {
  margin: 0;
  padding: 0;
  list-style: none;
}
  .container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .current-value {
    text-align: center;
    font-family: monospace;
  }

  input[type="range"] {
    background-color: #eee;
    -webkit-appearance: initial;
    border-radius: 10px;
    width: 200px;
    height: 4px;
    cursor: pointer;
  }
